organisms = {
    'Homo sapiens': 'NCBITaxon:9606',
    'Mus musculus': 'NCBITaxon:10090',
    'Bacillus cereus': "405534",
    'Saccharomyces cerevisiae': '4932',
    'Escherichia coli': '562',
    'Drosophila melanogaster': '7227',
    'Rattus norvegicus': '10116',
    'Bos taurus': '9913',
    'Caenorhabditis elegans': '6239',
    'Pseudomonas aeruginosa': '287',
    'Arabidopsis thaliana': '3702',
}
