organisms = {
    'Homo sapiens': 'NCBITaxon:9606',
    'Mus musculus': 'NCBITaxon:10090',
    'Bacillus cereus': "NCBITaxon:405534",
    'Saccharomyces cerevisiae': 'NCBITaxon:4932',
    'Escherichia coli': 'NCBITaxon:562',
    'Drosophila melanogaster': 'NCBITaxon:7227',
    'Rattus norvegicus': 'NCBITaxon:10116',
    'Bos taurus': 'NCBITaxon:9913',
    'Caenorhabditis elegans': 'NCBITaxon:6239',
    'Pseudomonas aeruginosa': 'NCBITaxon:287',
    'Arabidopsis thaliana': 'NCBITaxon:3702',
    'Oryza sativa': 'NCBITaxon:4550',
    'Danio rerio': 'NCBITaxon:7955',
    'Bacillus subtilis': 'NCBITaxon:1423',
    'Schizosaccharobyces pombe': 'NCBITaxon:4896',
    'Gallus gallus': 'NCBITaxon:9031',
    'Sus scrofa': 'NCBITaxon:9823',
}
